@font-face {
	font-family: 'Exo 2.0';
	src: url('Exo2.0-Black.eot');
	src: url('Exo2.0-Black.eot?#iefix') format('embedded-opentype'),
	url('Exo2.0-Black.woff2') format('woff2'),
	url('Exo2.0-Black.woff') format('woff'),
	url('Exo2.0-Black.ttf') format('truetype'),
	url('Exo2.0-Black.svg#Exo2.0-Black') format('svg');
	font-weight: 900;
	font-style: normal;
} /* [900] Black          */
@font-face {
	font-family: 'Exo 2.0';
	src: url('Exo2.0-ExtraBold.eot');
	src: url('Exo2.0-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('Exo2.0-ExtraBold.woff2') format('woff2'),
	url('Exo2.0-ExtraBold.woff') format('woff'),
	url('Exo2.0-ExtraBold.ttf') format('truetype'),
	url('Exo2.0-ExtraBold.svg#Exo2.0-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
} /* [800] Extrabld       */
@font-face {
	font-family: 'Exo 2.0';
	src: url('Exo2.0-Bold.eot');
	src: url('Exo2.0-Bold.eot?#iefix') format('embedded-opentype'),
	url('Exo2.0-Bold.woff2') format('woff2'),
	url('Exo2.0-Bold.woff') format('woff'),
	url('Exo2.0-Bold.ttf') format('truetype'),
	url('Exo2.0-Bold.svg#Exo2.0-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
} /* [bold] Bold          */
@font-face {
	font-family: 'Exo 2.0';
	src: url('Exo2.0-SemiBold.eot');
	src: url('Exo2.0-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('Exo2.0-SemiBold.woff2') format('woff2'),
	url('Exo2.0-SemiBold.woff') format('woff'),
	url('Exo2.0-SemiBold.ttf') format('truetype'),
	url('Exo2.0-SemiBold.svg#Exo2.0-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
} /* [600] Semibold       */
@font-face {
	font-family: 'Exo 2.0';
	src: url('Exo2.0-Medium.eot');
	src: url('Exo2.0-Medium.eot?#iefix') format('embedded-opentype'),
	url('Exo2.0-Medium.woff2') format('woff2'),
	url('Exo2.0-Medium.woff') format('woff'),
	url('Exo2.0-Medium.ttf') format('truetype'),
	url('Exo2.0-Medium.svg#Exo2.0-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
} /* [500] Medium     		 */
@font-face {
	font-family: 'Exo 2.0';
	src: url('Exo2.0-Regular.eot');
	src: url('Exo2.0-Regular.eot?#iefix') format('embedded-opentype'),
		url('Exo2.0-Regular.woff2') format('woff2'),
		url('Exo2.0-Regular.woff') format('woff'),
		url('Exo2.0-Regular.ttf') format('truetype'),
		url('Exo2.0-Regular.svg#Exo2.0-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
} /* [normal] Regular     */
@font-face {
	font-family: 'Exo 2.0';
	src: url('Exo2.0-Light.eot');
	src: url('Exo2.0-Light.eot?#iefix') format('embedded-opentype'),
		url('Exo2.0-Light.woff2') format('woff2'),
		url('Exo2.0-Light.woff') format('woff'),
		url('Exo2.0-Light.ttf') format('truetype'),
		url('Exo2.0-Light.svg#Exo2.0-Light') format('svg');
	font-weight: 300;
	font-style: normal;
} /* [300] Light          */
@font-face {
	font-family: 'Exo 2.0';
	src: url('Exo2.0-ExtraLight.eot');
	src: url('Exo2.0-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Exo2.0-ExtraLight.woff2') format('woff2'),
		url('Exo2.0-ExtraLight.woff') format('woff'),
		url('Exo2.0-ExtraLight.ttf') format('truetype'),
		url('Exo2.0-ExtraLight.svg#Exo2.0-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
} /* [200] ExtraLight     */
@font-face {
	font-family: 'Exo 2.0';
	src: url('Exo2.0-Thin.eot');
	src: url('Exo2.0-Thin.eot?#iefix') format('embedded-opentype'),
		url('Exo2.0-Thin.woff2') format('woff2'),
		url('Exo2.0-Thin.woff') format('woff'),
		url('Exo2.0-Thin.ttf') format('truetype'),
		url('Exo2.0-Thin.svg#Exo2.0-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
} /* [100] Thin     			 */




